@charset 'utf-8';

:root {
  /* color */
  --nav--background: #333333;
  --logo--color: #f5f5f7;
  --nav--border--color: #424245;
  --grey--color: #8e8e8e;
  --border--color: #e5e5e5;

  /*  */
  --img--gap--mobile: 36px;
  --img--gap--tablet: 50px;
  --img--gap--desktop: 65px;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  min-width: 320px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body.gn_noScroll {
  overflow: hidden;
}

body.open_menu {
  overflow-y: hidden;
}

body.before_load {
  overflow-y: hidden;
}

/* loading */
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.before_load #container {
  display: none;
}

/* 로딩이 종료되면 before_load 클래스 제거 */
.before_load .loading {
  opacity: 1;
}

@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading_circle {
  width: 54px;
  height: 54px;
  animation: loading_spin 3s infinite;
}

@keyframes loading_circle_ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

.loading_circle circle {
  /* stroke 테두리 속성 */
  stroke: black;
  stroke-width: 4;
  /* getTotalLength()로 얻을 수 있음 */
  /* 값만큼 간격을 가짐 */
  stroke-dasharray: 157;
  /* 시작 위치 */
  stroke-dashoffset: 0;
  /* 색상 */
  fill: none;
  animation: loading_circle_ani 1s infinite;
}

#container {
  position: relative;
  overflow-x: hidden;
}

/* global_nav */
#gn_menuState,
#ln_menuState {
  display: none;
}

#gn_menuState:checked ~ .gn {
  background: black;
  min-height: 100vh;
}
.gn_header .gn_label {
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gn_menuState_top {
  top: 11px;
}
.gn_menuState_bot {
  bottom: 11px;
}

#gn_menuState:checked ~ .gn .gn_menuState_top_box {
  transform: rotate(45deg);
}
#gn_menuState:checked ~ .gn .gn_menuState_bot_box {
  transform: rotate(-45deg);
}

.gn_menuState_top_box,
.gn_menuState_bot_box {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: all 0.15s ease;
}

.gn_menuState_top,
.gn_menuState_bot {
  display: block;
  width: 17px;
  height: 1px;
  left: 7px;
  background: #fff;
  position: absolute;
}
#gn_menuState:checked ~ .gn .gn_menuState_top {
  transform: translateY(3px);
}
#gn_menuState:checked ~ .gn .gn_menuState_bot {
  transform: translateY(-3px);
}

/* 영역을 차지하지 않도록 absolute 영역 설정 */
.gn {
  min-height: 48px;
  width: 100%;
  background: var(--nav--background);
  transition: all 0.6s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
}

.gn_contents {
  position: relative;
}

.gn_contents .gn_header {
  display: flex;
  justify-content: space-between;
}

.gn_item {
  height: 48px;
}

.gn_header .gn_item a {
  color: #fff;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 0 1rem;
  transition: color 0.2s ease;
}

.gn_item a:hover {
  color: #fffffe;
}

.gn_header .gn_mark {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.gn_search_container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 0 10px 15px;
  border-bottom: 0.5px solid var(--nav--border--color);
}

#gn_menuState:checked ~ .gn .gn_search_container {
  opacity: 1;
  display: flex;
  visibility: visible;
}
#gn_menuState:checked ~ .gn .gn_mark {
  opacity: 0;
}

.gn_search_form {
  max-width: 584px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 36px;
  background: #1e1e20;
  border-radius: 8px;
}
.gn_search_form i {
  color: #6e6e73;
  padding: 0 7px 0 8px;
}
.gn_search_form input {
  width: 100%;
  border: none;
  background: transparent;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}

.gn .gn_list {
  position: absolute;
  padding: 0 40px;
  top: 110px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
#gn_menuState:checked ~ .gn .gn_list {
  display: flex;
  opacity: 1;
  transition: all 0.6s ease;
  visibility: visible;
}

.gn_list .gn_item {
  display: none;
  width: 100%;
  max-width: 584px;
  height: 44px;
  color: var(--grey--color);
}

.gn_list .gn_item.gn_menu_item {
  display: flex;
  align-items: center;
}

.gn_list .gn_menu_item:nth-child(n + 2):nth-child(-n + 6) {
  border-top: 1px solid var(--nav--border--color);
}

.gn .gn_list .gn_item a {
  width: 100%;
  font-size: 1rem;
  color: #fff;
}

.gn_desktop_list {
  display: none;
}

/* local nav */
/* 영역을 차지하지 않도록 absolute 포지션으로 변경 */
.ln_sticky .ln {
  position: fixed;
  top: 0;
  background-color: rgba(252, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
.ln {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 800;
  height: 76px;
}

.ln .ln_background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 76px;
  border-bottom: 1px solid var(--border--color);
  transition: all 0.5s ease 0.7s;
}

#ln_menuState:checked ~ .ln .ln_background {
  height: 164px;
  transition: all 0.5s ease;
  background: #fff;
}

.ln_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ln .ln_contents {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
  z-index: 200;
}

.ln .ln_title_box {
  margin-top: 12px;
}

.ln .ln_title_box a {
  display: flex;
  flex-direction: column;
}

.ln_title_box .ln_model {
  font-size: 12px;
  color: var(--grey--color);
}
.ln_title_box .ln_title {
  font-size: 19px;
  font-weight: 600;
}

.ln .ln_actions {
  padding: 16px 16px 0 16px;
}

.ln .ln_actions .ln_btn {
  height: 24px;
  font-size: 12px;
  background: #0071e3;
  border-radius: 10px;
  color: #fff;
  padding: 4px 11px;
}

.ln .ln_contents .ln_menu .ln_menu_items {
  height: 0;
  opacity: 0;
  padding: 4px 24px 24px 24px;
  transform: translate(0, -150px);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0.4s, 0.2s;
}

#ln_menuState:checked ~ .ln .ln_menu_items {
  height: 116px;
  opacity: 1;
  transform: translate(0, 0);
  /* delay: transform, opacity */
  transition-delay: 0.2s, 0.4s;
}

.ln .ln_contents .ln_menu .ln_menu_items .ln_menu_item {
  font-size: 1rem;
  line-height: 44px;
  height: 44px;
}
.ln .ln_contents .ln_menu .ln_menu_items .ln_menu_item:nth-child(1) {
  color: var(--grey--color);
  border-bottom: 1px solid var(--border--color);
}

.ln .ln_contents .ln_menu .ln_desktop_menu_items {
  display: none;
}

.ln .ln_contents .ln_menu .ln_actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.ln .ln_contents .ln_menu .ln_actions .ln_label {
  display: block;
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn {
  display: block;
  width: 100%;
  height: 100%;
}
.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:before,
.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:after {
  content: "";
  display: block;
  top: 13px;
  width: 13px;
  height: 1px;
  background: black;
  position: absolute;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:before {
  right: 50%;
  transform: rotate(40deg) translateX(1.8px);
}
.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:after {
  left: 50%;
  transform: rotate(-40deg) translateX(-1.8px);
}

#ln_menuState:checked ~ .ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:before {
  transform: rotate(-40deg) translateX(1.8px);
}

#ln_menuState:checked ~ .ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:after {
  transform: rotate(40deg) translateX(-1.8px);
}

.back {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 1s ease 0.2s, width 0s ease 1.2s, height 0s ease 1.2s;
  z-index: 10;
}

#ln_menuState:checked ~ .back {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease 0.1s;
  -webkit-transition: opacity 1s ease 0.1s;
}

/* main section */
/* sticky_element는 어느 요소에 달라붙은 상태로 렌더링이 되는 태그에 사용 */
.sticky_element {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

/* 현재 활성화 씬에서만 .sticky_element 요소가 보임 */
#show_section_1 #scroll_section_1 .sticky_element,
#show_section_3 #scroll_section_3 .sticky_element,
#show_section_4 #scroll_section_4 .sticky_element {
  display: block;
}

#show_section_3 #sroll_section_3 .stikcy {
  display: block;
}
#show_section_2 #container {
  overflow: hidden;
}
.sticky_element_canvas {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
}

.main_message {
  opacity: 0;
  top: 35vh;
}

.head_line {
  width: 365px;
  margin: 0 auto;
}
.section_small_text {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 1s linear, transform 1s linear;
  font-size: 24px;
}
.section_main_text {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 1s linear, transform 1s linear;
  font-size: 46px;
}
.video_text {
  font-size: 21px;
  margin-top: 1em;
  font-weight: 700;
}
/* 각 센션 헤드라인 */
.section_headline_text {
  /* font-size: 40px; */
  font-size: 37px;
  letter-spacing: 0;
}
/* 각 센션 세부 설명 */
.section_intro_text {
  font-size: 24px;
  color: var(--grey--color);
  font-weight: 600;
  line-height: 1.3;
}
/* 섹션 컨테이너 너비 */
.section_content {
  max-width: 360px;
  margin: 0 auto;
  width: 87.5%;
}
/* 제품 특징 */
.features_text {
  font-size: 21px;
  font-weight: 600;
  color: var(--grey--color);
  line-height: 1.3;
}
/* section_3 canvas text */
.canvas_large_text {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
}
.canvas_small_text {
  font-size: 21px;
  font-weight: 600;
  /* color: #fff; */
  color: #fff;
  margin-top: 20px;
}
.scroll_section {
  position: relative;
  border: 2px solid transparent;
  word-break: keep-all;
  padding-top: 35vh;
}

.bold {
  font-weight: 700;
}
.black {
  color: black;
}
/* section 1 */

#scroll_section_1.scroll_section {
  padding: 0;
}

/* 위치 조정 */
#scroll_section_1 .main_message1 {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

#scroll_section_1 .head_line h1 {
  text-align: center;
}
#scroll_section_1 .head_line h2 {
  text-align: center;
  margin-top: 8px;
}

#scroll_section_1 .main_message2 {
  opacity: 0;
  transform: translateY(10%);
  transition: transform 1.5s ease, opacity 1.5s ease;
  margin-top: 50px;
}

#scroll_section_1 .canvas_container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding-top: 150px;
}

#scroll_section_1 .canvas_container.fixed {
  position: fixed;
}

#scroll_section_1 .canvas_container canvas {
  position: relative;
  left: 50%;
  width: 80%;
  margin-top: 50px;
}

/* section 2 */
#scroll_section_2 {
}

#scroll_section_2 .contents_container {
  position: relative;
  height: 100%;
  top: -5%;
  width: 87.5%;
  max-width: 360px;
  margin: 0 auto;
}

#scroll_section_2 .contents_container .macbook_img {
  width: 100%;
  height: 188px;
  margin: 0 auto;
  background-image: url("/image/section_2_mac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

#scroll_section_2 .contents_container .contents {
  display: flex;
  flex-direction: column;
}
/* main_message 이름 변경 */
#scroll_section_2 .contents_container .contents .main_message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#scroll_section_2 .line {
  margin: 48px 0 15px;
  width: 100%;
  height: 1px;
  background: var(--border--color);
}

/* section 3 */
/* blend_canvas 중앙 정렬을 위한 flex 설정 */
#scroll_section_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll_section_3.scroll_section {
  padding-top: 40vh;
}

#scroll_section_3 .section_content {
  margin-bottom: 20px;
}

#scroll_section_3 .section_content h1 {
  color: var(--grey--color);
}

#scroll_section_3 .image_blend_canvas {
}

#scroll_section_3 .image_blend_canvas.fixed {
  position: fixed;
  /* top 속성은 script로 설정 */
}

#scroll_section_3 .main_message1 {
  opacity: 0;
  top: 10vh;
  left: 6vw;
  font-size: 17px;
  max-width: 249px;
}
/* canvas_text 컨테이너 너비 */
#scroll_section_3 .main_message2 {
  max-width: 238px;
  margin: 0 auto;
  text-align: center;
  white-space: normal;
}

#scroll_section_3 .main_message3 {
  opacity: 0;
  margin-top: -300px;
}

/* section_3 gallery */
#scroll_section_3 .gallery {
  padding-top: 80px;
  /* opacity: 0; */
}

#scroll_section_3 .gallery_screen_container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
}
/* 모바일에서  */
#scroll_section_3 .gallery_screen_container .images_container {
  position: relative;
  width: 256px;
  height: 255px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

/* 이미지 */
#scroll_section_3 .gallery_screen_container .image {
  width: 124px;
  height: 255px;
  background-size: 124px 255px;
  background-repeat: no-repeat;
  position: absolute;
  min-height: 100%;
  top: 0;
  transition: opacity 1.3s;
}

#scroll_section_3 .gallery_screen_container .image:not(.image_0) {
  margin-left: 4px;
}
#scroll_section_3 .gallery_screen_container .image:not(.current) {
  opacity: 0.4;
}
/* current image의 다음 형제 image들은 안보이도록 설정 */
#scroll_section_3 .gallery_screen_container .image.current ~ .image {
  opacity: 0;
}

#scroll_section_3 .gallery_screen_container .image_0 {
  background-image: url(/image/section3_gallery/small_1.png);
  left: calc(var(--img--gap--mobile) * 0);
}
#scroll_section_3 .gallery_screen_container .image_1 {
  background-image: url(/image/section3_gallery/small_2.png);
  left: calc(var(--img--gap--mobile) * 1);
}
#scroll_section_3 .gallery_screen_container .image_2 {
  background-image: url(/image/section3_gallery/small_3.png);
  left: calc(var(--img--gap--mobile) * 2);
}
#scroll_section_3 .gallery_screen_container .image_3 {
  background-image: url(/image/section3_gallery/small_4.png);
  left: calc(var(--img--gap--mobile) * 3);
}
#scroll_section_3 .gallery_screen_container .image_4 {
  background-image: url(/image/section3_gallery/small_5.png);
  left: calc(var(--img--gap--mobile) * 4);
}
#scroll_section_3 .gallery_screen_container .content_container {
  background: #fff;
}

/* 버튼 */
#scroll_section_3 .gallery_screen_container .content_container .btns {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  z-index: 11;
}

#scroll_section_3 .gallery_screen_container .content_container .btns button {
  font-size: 40px;
  outline: none;
  color: #000000;
}

#scroll_section_3 .gallery_screen_container .content_container .btns .next:disabled,
#scroll_section_3 .gallery_screen_container .content_container .btns .prev:disabled {
  color: #86868b;
  cursor: not-allowed;
}

/* 설명 */
#scroll_section_3 .gallery_screen_container .content_container .gallery_items {
  position: relative;
}
#scroll_section_3 .gallery_screen_container .content_container .gallery_items .item {
  top: 0;
  left: 0;
  color: #86868b;
}
#scroll_section_3 .gallery_screen_container .content_container .gallery_items .item.current p {
  transition: opacity 0.6s 0.1s;
}

#scroll_section_3
  .gallery_screen_container
  .content_container
  .gallery_items
  .item:not(.current)
  p {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}

#scroll_section_3 .gallery_screen_container .content_container .gallery_items .item p {
  font-size: 19px;
  line-height: 1.4;
  font-weight: 600;
}

/* section 4 */
#scroll_section_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll_section_4 .image_blend_canvas.fixed {
  position: fixed;
  top: 0;
  /* top 속성은 script로 설정 */
}

#scroll_section_4 .section_content {
  margin-bottom: 20px;
}

#scroll_section_4 .section_content h1 {
  color: var(--grey--color);
}

#scroll_section_4 .main_message1 {
  max-width: 270px;
  /* position: relative; */
  line-height: 1.3;
}
#scroll_section_4 .main_message1 .canvas_text {
  font-size: 32px;
  font-weight: 700;
}
#scroll_section_4 .main_message1 .canvas_text::before {
  position: absolute;
  left: -30px;
  content: open-quote;
}
#scroll_section_4 .main_message1 .canvas_text::after {
  position: absolute;
  content: close-quote;
}
#scroll_section_4 .main_message1 p:nth-child(2) {
  margin-top: 20px;
}

/* section_5 */
#scroll_section_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll_section_5 .section_content {
  margin-bottom: 20px;
}

#scroll_section_5 .section_content h1 {
  color: var(--grey--color);
}

#scroll_section_5 .image_video_canvas.fixed {
  position: fixed;
  top: 0;
  /* top 속성은 script로 설정 */
}

#scroll_section_5 .touchbar_gallery_container {
  padding-top: 80px;
}

#scroll_section_5 .touchbar_gallery_container .items_and_nav {
  position: relative;
}
#scroll_section_5 .touchbar_gallery_container .items_and_nav .paddle_nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
#scroll_section_5 .touchbar_gallery_container .items_and_nav .paddle_nav li .nav_btn {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 50%;
  background: rgba(210, 210, 215, 0.2);
  color: rgba(134, 134, 139, 0.8);
  outline: none;
  opacity: 0;
  transition: all 0.25s linear;
  padding: 0;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll_section_5 .touchbar_gallery_container .items_and_nav .paddle_nav li .nav_btn_next::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
#scroll_section_5 .touchbar_gallery_container .items_and_nav .paddle_nav li .nav_btn_prev::after {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#scroll_section_5 .touchbar_gallery_container .items_and_nav .paddle_nav:hover li .nav_btn {
  opacity: 1;
}

#scroll_section_5 .touchbar_gallery_container .items_and_nav .paddle_nav li .nav_btn.disabled {
  opacity: 0;
  pointer-events: none;
}

#scroll_section_5 .touchbar_gallery_container .touchbar_gallery {
  position: relative;
}

#scroll_section_5 .touchbar_gallery_container .touchbar_gallery .gallery_item_container {
  position: relative;
  display: flex;
  width: 348px;
  height: 257px;
  transition: transform 0.7s cubic-bezier(0.3, 0, 1, 0.6);
}

#scroll_section_5
  .touchbar_gallery_container
  .touchbar_gallery
  .gallery_item_container
  .gallery_item {
  min-width: 100%;
  padding-right: 20px;
  transition: opacity 0.7s cubic-bezier(0.3, 0, 1, 0.6);
}

#scroll_section_5
  .touchbar_gallery_container
  .touchbar_gallery
  .gallery_item_container
  .gallery_item:not(.current) {
  opacity: 0.4;
}

#scroll_section_5
  .touchbar_gallery_container
  .touchbar_gallery
  .gallery_item_container
  .gallery_item
  .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#scroll_section_5
  .touchbar_gallery_container
  .touchbar_gallery
  .gallery_item_container
  .gallery_item
  .keyboard_1 {
  background-image: url(../image/section_5_gallery/keyboard_s_1.jpg);
}

#scroll_section_5
  .touchbar_gallery_container
  .touchbar_gallery
  .gallery_item_container
  .gallery_item
  .keyboard_2 {
  background-image: url(../image/section_5_gallery/keyboard_s_2.jpg);
}

#scroll_section_5
  .touchbar_gallery_container
  .touchbar_gallery
  .gallery_item_container
  .gallery_item
  .keyboard_3 {
  background-image: url(../image/section_5_gallery/keyboard_s_3.jpg);
}

#scroll_section_5 .touchbar_gallery_container .touchbar_gallery .dot_nav_container {
  text-align: center;
  margin-top: 30px;
}
#scroll_section_5 .touchbar_gallery_container .touchbar_gallery .dot_nav_container .dot_items {
  display: inline-flex;
}

#scroll_section_5 .touchbar_gallery_container .touchbar_gallery .dot_items .dot_item {
  width: 8px;
  height: 8px;
  background: rgba(134, 134, 139, 0.4);
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition-delay: 0.7s;
}
#scroll_section_5 .touchbar_gallery_container .touchbar_gallery .dot_items .dot_item.dot_active {
  background: #86868b;
}

#scroll_section_5 .touchbar_gallery_container .touchbar_gallery .caption_container {
  margin-top: 50px;
  position: relative;
}

#scroll_section_5 .touchbar_gallery_container .touchbar_gallery .caption_container p {
  color: #888888;
  font-size: 19px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s 0.2s;
}
#scroll_section_5 .touchbar_gallery_container .touchbar_gallery .caption_container p.current {
  transition-delay: 0.3s;
  opacity: 1;
}

@media (min-width: 730px) {
  .head_line {
    width: 500px;
  }
  .section_main_text {
    font-size: 80px;
  }

  .section_headline_text {
    font-size: 56px;
  }

  .section_intro_text {
    font-size: 28px;
  }

  .section_content {
    max-width: none;
    width: 692px;
  }
  /* section_2 */
  #scroll_section_2 .contents_container {
    position: relative;
    max-width: none;
    top: 0%;
  }

  #scroll_section_2 .contents_container .macbook_img {
    width: 100%;
    height: 448px;
    background-size: cover;
    background-image: url(/image/section_2_mac_L.jpg);
  }

  #scroll_section_2 .contents_container .contents {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #scroll_section_2 .contents_container .contents .main_message {
    flex-basis: 35%;
  }
  #scroll_section_2 .line {
    margin: 20px 0;
  }
  /* section_3 */
  #scroll_section_3 .main_message2 {
    max-width: 643px;
  }
  #scroll_section_3 .main_message3 {
    margin-top: -200px;
  }
  .canvas_large_text {
    font-size: 64px;
  }
  .canvas_small_text {
    font-size: 24px;
  }

  #scroll_section_3 .gallery_screen_container .images_container {
    position: relative;
    width: 424px;
    height: 424px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  #scroll_section_3 .gallery_screen_container .image_1 {
    left: calc(var(--img--gap--tablet));
  }
  #scroll_section_3 .gallery_screen_container .image_2 {
    left: calc(var(--img--gap--tablet) * 2);
  }
  #scroll_section_3 .gallery_screen_container .image_3 {
    left: calc(var(--img--gap--tablet) * 3);
  }
  #scroll_section_3 .gallery_screen_container .image_4 {
    left: calc(var(--img--gap--tablet) * 4);
  }

  #scroll_section_3 .gallery_screen_container .image:not(.image_0) {
    margin-left: 6px;
  }

  #scroll_section_3 .gallery_screen_container .image {
    width: 206px;
    height: 424px;
    background-size: 206px 424px;
  }

  /* section_4 */
  #scroll_section_4 .image_blend_canvas {
    margin-bottom: 50px;
  }

  #scroll_section_4 .main_message1 {
    max-width: 350px;
    left: 1vw;
  }
  #scroll_section_4 .main_message1 .canvas_text {
    font-size: 40px;
  }

  /* section_5 */

  #scroll_section_5 .image_video_canvas {
    margin-bottom: 50px;
  }

  #scroll_section_5 .touchbar_gallery_container .touchbar_gallery .gallery_item_container {
    width: 712px;
    height: 314px;
    /* width 만큼 이동 */
  }

  #scroll_section_5
    .touchbar_gallery_container
    .touchbar_gallery
    .gallery_item_container
    .gallery_item
    .keyboard_1 {
    background-image: url(../image/section_5_gallery/keyboard_m_1.jpg);
  }

  #scroll_section_5
    .touchbar_gallery_container
    .touchbar_gallery
    .gallery_item_container
    .gallery_item
    .keyboard_2 {
    background-image: url(../image/section_5_gallery/keyboard_m_2.jpg);
  }

  #scroll_section_5
    .touchbar_gallery_container
    .touchbar_gallery
    .gallery_item_container
    .gallery_item
    .keyboard_3 {
    background-image: url(../image/section_5_gallery/keyboard_m_3.jpg);
  }
}

@media (min-width: 1068px) {
  /* 공통 */
  .head_line {
    width: 800px;
  }
  .section_small_text {
    font-size: 32px;
  }
  .section_content {
    width: 980px;
  }
  .section_main_text {
    font-size: 100px;
  }
  .section_headline_text {
    font-size: 80px;
  }
  .section_intro_text {
    font-size: 34px;
  }
  /* section_1 */
  .video_text {
    font-size: 22px;
  }
  .sticky_element_canvas canvas {
    width: auto;
  }
  /* section_2 */
  .features_text {
    font-size: 24px;
  }
  #scroll_section_1 .canvas_container canvas {
    width: 60%;
  }

  #scroll_section_2 .contents_container {
    position: relative;
    height: 100%;
    top: 13%;
    width: 100%;
  }

  #scroll_section_2 .contents_container .macbook_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 660px;
    background-image: url(/image/section_2_mac_L.jpg);
  }
  /* section_3 */
  #scroll_section_3 .main_message2 {
    max-width: 760px;
  }
  #scroll_section_3 .main_message3 {
    margin-top: -100px;
  }

  .canvas_large_text {
    font-size: 80px;
  }
  .canvas_small_text {
    font-size: 28px;
  }

  #scroll_section_3 .gallery {
    padding-top: 100px;
  }

  #scroll_section_3 .gallery_screen_container {
    flex-direction: row;
    background: #f3f3f3;
  }

  #scroll_section_3 .gallery_screen_container .images_container {
    flex: 1;
    order: 2;
    height: 642px;
    margin-left: 20px;
  }
  #scroll_section_3 .gallery_screen_container .image {
    width: 310px;
    height: 642px;
    background-size: 310px 642px;
  }

  #scroll_section_3 .gallery_screen_container .image:not(.image_0) {
    margin-left: 10px;
  }

  #scroll_section_3 .gallery_screen_container .image_1 {
    background-image: url(/image/section3_gallery/medium_2.png);
    left: calc(var(--img--gap--desktop));
  }
  #scroll_section_3 .gallery_screen_container .image_2 {
    background-image: url(/image/section3_gallery/medium_3.png);
    left: calc(var(--img--gap--desktop) * 2);
  }
  #scroll_section_3 .gallery_screen_container .image_3 {
    background-image: url(/image/section3_gallery/medium_4.png);
    left: calc(var(--img--gap--desktop) * 3);
  }
  #scroll_section_3 .gallery_screen_container .image_4 {
    background-image: url(/image/section3_gallery/medium_5.png);
    left: calc(var(--img--gap--desktop) * 4);
  }

  #scroll_section_3 .gallery_screen_container .content_container {
    flex-basis: 33.333%;
    order: 1;
    padding-top: 230px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 10px;
    background: #f3f3f3;
  }

  #scroll_section_3 .gallery_screen_container .content_container .btns {
    position: absolute;
    bottom: 0;
  }

  /* section_4 */

  #scroll_section_4 .main_message1 {
    max-width: 390px;
    left: 8vw;
  }
  #scroll_section_4 .main_message1 .canvas_text {
    font-size: 48px;
  }
  /* section_5 */
  #scroll_section_5 > .section_content:nth-child(1) {
    width: 1100px;
  }

  #scroll_section_3 .section_content,
  #scroll_section_4 .section_content,
  #scroll_section_5 .section_content {
    margin-bottom: 100px;
  }

  #scroll_section_5 .touchbar_gallery_container .touchbar_gallery .gallery_item_container {
    width: 1000px;
    height: 445px;
  }
}

@media (min-width: 768px) {
  .gn {
    transition: none;
  }
  .gn .gn_header,
  .gn .gn_list,
  .gn .gn_search_container {
    display: none;
  }
  .gn .gn_contents {
    max-width: 980px;
    margin: 0 auto;
  }
  .gn_desktop_list {
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
  }
  .gn_desktop_list .gn_item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 10px;
  }
  .gn_desktop_list .gn_item a {
    color: lightgrey;
  }
  .gn_desktop_list .gn_item:hover a {
    color: #fff;
  }
  .gn_desktop_list i {
    font-size: 1.5rem;
  }

  .ln {
    height: 76px;
  }
  .ln .ln_contents {
    padding: 0 32px;
    z-index: 2;
  }
  .ln .ln_menu {
    display: flex;
  }

  .ln .ln_contents {
    display: flex;
    height: 100%;
  }

  .ln .ln_menu {
    margin-left: auto;
    padding-top: 10px;
  }
  .ln .ln_contents .ln_menu .ln_menu_items {
    padding: 3px 0 0 0;
    width: 100px;
    display: flex;
    justify-content: space-between;
    transition: none;
    opacity: 1;
  }
  .ln .ln_contents .ln_menu .ln_menu_items .ln_menu_item {
    font-size: 12px;
  }
  .ln .ln_contents .ln_menu .ln_menu_items .ln_menu_item:nth-child(1) {
    border: none;
  }

  .ln .ln_contents .ln_menu .ln_desktop_menu_items {
    display: flex;
    width: 100px;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    padding-bottom: 5px;
  }

  .ln .ln_contents .ln_menu .ln_actions {
    position: static;
  }

  .ln .ln_contents .ln_menu .ln_actions .ln_label,
  .back {
    display: none;
  }

  .ln .ln_background {
    height: 76px;
    transition: none;
  }
}
