@charset 'utf-8';

:root {
  /* color */
  --nav--background: #333333;
  --logo--color: #f5f5f7;
  --nav--border--color: #424245;
  --grey--color: #8e8e8e;
  --border--color: #e5e5e5;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  min-width: 320px;
  box-sizing: border-box;
}

body.gn_noScroll {
  overflow: hidden;
}

body.open_menu {
  overflow-y: hidden;
}

#container {
  position: relative;
}

/* global_nav */
#gn_menuState,
#ln_menuState {
  display: none;
}

#gn_menuState:checked ~ .gn {
  background: black;
  min-height: 100vh;
}
.gn_header .gn_label {
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gn_menuState_top {
  top: 11px;
}
.gn_menuState_bot {
  bottom: 11px;
}

#gn_menuState:checked ~ .gn .gn_menuState_top_box {
  transform: rotate(45deg);
}
#gn_menuState:checked ~ .gn .gn_menuState_bot_box {
  transform: rotate(-45deg);
}

.gn_menuState_top_box,
.gn_menuState_bot_box {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: all 0.15s ease;
}

.gn_menuState_top,
.gn_menuState_bot {
  display: block;
  width: 17px;
  height: 1px;
  left: 7px;
  background: #fff;
  position: absolute;
}
#gn_menuState:checked ~ .gn .gn_menuState_top {
  transform: translateY(3px);
}
#gn_menuState:checked ~ .gn .gn_menuState_bot {
  transform: translateY(-3px);
}

/* 영역을 차지하지 않도록 absolute 영역 설정 */
.gn {
  min-height: 48px;
  width: 100%;
  background: var(--nav--background);
  transition: all 0.6s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.gn_contents {
  position: relative;
}

.gn_contents .gn_header {
  display: flex;
  justify-content: space-between;
}

.gn_item {
  height: 48px;
}

.gn_header .gn_item a {
  color: #fff;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 0 1rem;
  transition: color 0.2s ease;
}

.gn_item a:hover {
  color: #fffffe;
}

.gn_header .gn_mark {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.gn_search_container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 0 10px 15px;
  border-bottom: 0.5px solid var(--nav--border--color);
}

#gn_menuState:checked ~ .gn .gn_search_container {
  opacity: 1;
  display: flex;
  visibility: visible;
}
#gn_menuState:checked ~ .gn .gn_mark {
  opacity: 0;
}

.gn_search_form {
  max-width: 584px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 36px;
  background: #1e1e20;
  border-radius: 8px;
}
.gn_search_form i {
  color: #6e6e73;
  padding: 0 7px 0 8px;
}
.gn_search_form input {
  width: 100%;
  border: none;
  background: transparent;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}

.gn .gn_list {
  position: absolute;
  padding: 0 40px;
  top: 110px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
#gn_menuState:checked ~ .gn .gn_list {
  display: flex;
  opacity: 1;
  transition: all 0.6s ease;
  visibility: visible;
}

.gn_list .gn_item {
  display: none;
  width: 100%;
  max-width: 584px;
  height: 44px;
  color: var(--grey--color);
}

.gn_list .gn_item.gn_menu_item {
  display: flex;
  align-items: center;
}

.gn_list .gn_menu_item:nth-child(n + 2):nth-child(-n + 6) {
  border-top: 1px solid var(--nav--border--color);
}

.gn .gn_list .gn_item a {
  width: 100%;
  font-size: 1rem;
  color: #fff;
}

.gn_desktop_list {
  display: none;
}

/* local nav */
/* 영역을 차지하지 않도록 absolute 포지션으로 변경 */
.ln_sticky .ln {
  position: fixed;
  top: 0;
  background-color: rgba(252, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
}
.ln {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9990;
  height: 76px;
}

.ln .ln_background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 76px;
  border-bottom: 1px solid var(--border--color);
  transition: all 0.5s ease 0.7s;
}

#ln_menuState:checked ~ .ln .ln_background {
  height: 164px;
  transition: all 0.5s ease;
  background: #fff;
}

.ln_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.ln .ln_contents {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
  z-index: 200;
}

.ln .ln_title_box {
  margin-top: 12px;
}

.ln .ln_title_box a {
  display: flex;
  flex-direction: column;
}

.ln_title_box .ln_model {
  font-size: 12px;
  color: var(--grey--color);
}
.ln_title_box .ln_title {
  font-size: 19px;
  font-weight: 600;
}

.ln .ln_actions {
  padding: 16px 16px 0 16px;
}

.ln .ln_actions .ln_btn {
  height: 24px;
  font-size: 12px;
  background: #0071e3;
  border-radius: 10px;
  color: #fff;
  padding: 4px 11px;
}

.ln .ln_contents .ln_menu .ln_menu_items {
  height: 0;
  opacity: 0;
  padding: 4px 24px 24px 24px;
  transform: translate(0, -150px);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0.4s, 0.2s;
}

#ln_menuState:checked ~ .ln .ln_menu_items {
  height: 116px;
  opacity: 1;
  transform: translate(0, 0);
  /* delay: transform, opacity */
  transition-delay: 0.2s, 0.4s;
}

.ln .ln_contents .ln_menu .ln_menu_items .ln_menu_item {
  font-size: 1rem;
  line-height: 44px;
  height: 44px;
}
.ln .ln_contents .ln_menu .ln_menu_items .ln_menu_item:nth-child(1) {
  color: var(--grey--color);
  border-bottom: 1px solid var(--border--color);
}

.ln .ln_contents .ln_menu .ln_desktop_menu_items {
  display: none;
}

.ln .ln_contents .ln_menu .ln_actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.ln .ln_contents .ln_menu .ln_actions .ln_label {
  display: block;
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn {
  display: block;
  width: 100%;
  height: 100%;
}
.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:before,
.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:after {
  content: "";
  display: block;
  top: 13px;
  width: 13px;
  height: 1px;
  background: black;
  position: absolute;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:before {
  right: 50%;
  transform: rotate(40deg) translateX(1.8px);
}
.ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:after {
  left: 50%;
  transform: rotate(-40deg) translateX(-1.8px);
}

#ln_menuState:checked ~ .ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:before {
  transform: rotate(-40deg) translateX(1.8px);
}

#ln_menuState:checked ~ .ln .ln_contents .ln_menu .ln_actions .ln_label .ln_menu_btn:after {
  transform: rotate(40deg) translateX(-1.8px);
}

.back {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 1s ease 0.2s, width 0s ease 1.2s, height 0s ease 1.2s;
  z-index: 10;
}

#ln_menuState:checked ~ .back {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease 0.1s;
  -webkit-transition: opacity 1s ease 0.1s;
}

/* main section */
/* sticky_element는 어느 요소에 달라붙은 상태로 렌더링이 되는 태그에 사용 */
.sticky_element {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
/* 현재 활성화 씬에서만 .sticky_element 요소가 보임 */
#show_section_1 #scroll_section_1 .sticky_element,
#show_section_3 #scroll_section_3 .sticky_element,
#show_section_4 #scroll_section_4 .sticky_element {
  display: block;
}

.main_message {
  opacity: 0;
  /* background: lightgrey; */
}

.head_line {
  width: 365px;
  margin: 0 auto;
}
.section_small_text {
  opacity: 0;
  transform: translateY(50%);
  transition: all 1s linear;
  font-size: 24px;
}
.section_main_text {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s linear;
  font-size: 46px;
}
.video_text {
  font-size: 21px;
  margin-top: 1em;
  font-weight: 700;
}
/* 각 센션 헤드라인 */
.section_headline_text {
  font-size: 40px;
  letter-spacing: 0;
}
/* 각 센션 세부 설명 */
.section_intro_text {
  font-size: 24px;
  color: var(--grey--color);
  font-weight: 600;
  line-height: 1.3;
}
/* 섹션 컨테이너 너비 */
.section_content {
  width: 87.5%;
  max-width: 360px;
  margin: 0 auto;
}
/* 제품 특징 */
.features_text {
  font-size: 21px;
  font-weight: 600;
  color: var(--grey--color);
  line-height: 1.3;
}
/* section_3 canvas text */
.canvas_large_text {
  font-size: 48px;
  /* color: #fff; */
  color: green;
  font-weight: 600;
}
.canvas_small_text {
  font-size: 21px;
  font-weight: 600;
  /* color: #fff; */
  color: green;
  margin-top: 20px;
}
.scroll_section {
  position: relative;
  /* border: 2px solid green; */
  padding-top: 60vh;
  word-break: keep-all;
}

.bold {
  font-weight: 700;
}
.black {
  color: black;
}

/* section 1 */
/* 위치 조정 */
#scroll_section_1 .main_message1 {
  position: relative;
  top: -40vh;
}

#scroll_section_1 .head_line h1 {
  text-align: center;
}
#scroll_section_1 .head_line h2 {
  text-align: center;
  margin-top: 8px;
}

#scroll_section_1 .main_message2 {
  margin-top: 50px;
  opacity: 0;
  transform: translateY(10%);
  transition: all 1.5s ease;
}

/* section 2 */
#scroll_section_2 {
}

#scroll_section_2 .contents_container {
  position: absolute;
  /* top: 30vh; */
  left: 0;
  right: 0;
}

#scroll_section_2 .contents_container .contents {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
/* main_message 이름 변경 */
#scroll_section_2 .contents_container .contents .main_message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#scroll_section_2 .contents_container .contents .main_message span {
  color: black;
}

#scroll_section_2 .line {
  margin: 48px 0 15px;
  width: 100%;
  height: 1px;
  background: var(--border--color);
}

/* section 3 */
#scroll_section_3 .section_content h1 {
  color: var(--grey--color);
}

#scroll_section_3 .main_message1 {
  font-size: 17px;
  max-width: 249px;
  margin: 0 auto;
}
/* canvas_text 컨테이너 너비 */
#scroll_section_3 .main_message2 {
  max-width: 238px;
  margin: 0 auto;
  text-align: center;
  white-space: normal;
}

/* section 4 */
#scroll_section_4 .section_content h1 {
  color: var(--grey--color);
}

#scroll_section_4 .main_message1 {
  max-width: 270px;
  margin: 0 auto;
  position: relative;
  line-height: 1.3;
}
#scroll_section_4 .main_message1 .canvas_text {
  font-size: 32px;
  font-weight: 700;
}
#scroll_section_4 .main_message1 .canvas_text::before {
  position: absolute;
  left: -30px;
  content: open-quote;
}
#scroll_section_4 .main_message1 .canvas_text::after {
  position: absolute;
  content: close-quote;
}
#scroll_section_4 .main_message1 p:nth-child(2) {
  margin-top: 20px;
}

@media (min-width: 730px) {
  .head_line {
    width: 500px;
  }
  .section_main_text {
    font-size: 80px;
  }

  .section_headline_text {
    font-size: 56px;
  }

  .section_intro_text {
    font-size: 28px;
  }

  .section_content {
    max-width: none;
    width: 692px;
  }

  #scroll_section_2 .contents_container .contents {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #scroll_section_2 .contents_container .contents .main_message {
    flex-basis: 40%;
  }
  #scroll_section_2 .line {
    margin: 20px 0;
  }
  /* section_3 */
  #scroll_section_3 .main_message2 {
    max-width: 643px;
  }
  .canvas_large_text {
    font-size: 64px;
  }
  .canvas_small_text {
    font-size: 24px;
  }
  /* section_4 */
  #scroll_section_4 .main_message1 {
    max-width: 500px;
  }
  #scroll_section_4 .main_message1 .canvas_text {
    font-size: 40px;
  }
}

@media (min-width: 1068px) {
  /* 공통 */
  .head_line {
    width: 800px;
  }
  .section_small_text {
    font-size: 32px;
  }
  .section_content {
    width: 980px;
  }
  .section_main_text {
    font-size: 100px;
  }
  .section_headline_text {
    font-size: 80px;
  }
  .section_intro_text {
    font-size: 36px;
  }
  /* section_1 */
  .video_text {
    font-size: 22px;
  }
  /* section_2 */
  .features_text {
    font-size: 24px;
  }
  /* section_3 */
  #scroll_section_3 .main_message2 {
    max-width: 760px;
  }
  .canvas_large_text {
    font-size: 80px;
  }
  .canvas_small_text {
    font-size: 28px;
  }
  /* section_4 */
  #scroll_section_4 .main_message1 {
    max-width: 670px;
  }
  #scroll_section_4 .main_message1 .canvas_text {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .gn {
    transition: none;
  }
  .gn .gn_header,
  .gn .gn_list,
  .gn .gn_search_container {
    display: none;
  }
  .gn .gn_contents {
    max-width: 980px;
    margin: 0 auto;
  }
  .gn_desktop_list {
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
  }
  .gn_desktop_list .gn_item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 10px;
  }
  .gn_desktop_list .gn_item a {
    color: lightgrey;
  }
  .gn_desktop_list .gn_item:hover a {
    color: #fff;
  }
  .gn_desktop_list i {
    font-size: 1.5rem;
  }

  .ln {
    height: 76px;
  }
  .ln .ln_contents {
    padding: 0 32px;
    z-index: 2;
  }
  .ln .ln_menu {
    display: flex;
  }

  .ln .ln_contents {
    display: flex;
  }

  .ln .ln_menu {
    margin-left: auto;
    padding-top: 10px;
  }
  .ln .ln_contents .ln_menu .ln_menu_items {
    padding: 3px 0 0 0;
    width: 100px;
    display: flex;
    justify-content: space-between;
    transition: none;
    opacity: 1;
  }
  .ln .ln_contents .ln_menu .ln_menu_items .ln_menu_item {
    font-size: 12px;
  }
  .ln .ln_contents .ln_menu .ln_menu_items .ln_menu_item:nth-child(1) {
    border: none;
  }

  .ln .ln_contents .ln_menu .ln_desktop_menu_items {
    display: flex;
    width: 100px;
    justify-content: space-between;
    font-size: 12px;
    align-items: flex-end;
    padding-bottom: 5px;
  }

  .ln .ln_contents .ln_menu .ln_actions {
    position: static;
  }

  .ln .ln_contents .ln_menu .ln_actions .ln_label,
  .back {
    display: none;
  }

  .ln .ln_background {
    height: 76px;
    transition: none;
  }
}
